{% for username in workshop_users|json_query("[].username") %}
- apiVersion: tekton.dev/v1alpha1
  kind: Pipeline
  metadata:
    name: build-test-deploy-app-to-dev
    namespace: {{ username }}-cicd
  spec:
    resources:
    - name: app-git
      type: git
    tasks:
    - name: build-app
      taskRef:
        kind: Task
        name: maven-java8
      params:
      - name: GOALS
        value:
        - install
        - '-f$(inputs.resources.source.path)/pom.xml'
        - '-DskipTests=true'
        - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
      resources:
        inputs:
        - name: source
          resource: app-git
      workspaces:
      - name: maven-repo
        workspace: local-maven-repo
    - name: run-unit-tests
      taskRef:
        kind: Task
        name: maven-java8
      params:
      - name: GOALS
        value:
        - test
        - '-f$(inputs.resources.source.path)/pom.xml'
        - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
      resources:
        inputs:
        - name: source
          resource: app-git
      workspaces:
      - name: maven-repo
        workspace: local-maven-repo
      runAfter:
      - build-app
    - name: code-quality-analysis
      taskRef:
        kind: Task
        name: maven-java8
      params:
      - name: GOALS
        value:
        - package
        - 'sonar:sonar'
        - '-f$(inputs.resources.source.path)/pom.xml'
        - '-DskipTests=true'
        - '-Dsonar.host.url=http://sonarqube.devsecops.svc.cluster.local:9000'
        - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
      resources:
        inputs:
        - name: source
          resource: app-git
      workspaces:
      - name: maven-repo
        workspace: local-maven-repo
      runAfter:
      - build-app
    - name: archive-app-to-nexus
      taskRef:
        kind: Task
        name: maven-java8
      params:
      - name: GOALS
        value:
        - deploy
        - '-f$(inputs.resources.source.path)/pom.xml'
        - '-DskipTests=true'
        - '-Pnexus3'
        - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
      resources:
        inputs:
        - name: source
          resource: app-git
      workspaces:
      - name: maven-repo
        workspace: local-maven-repo
      runAfter:
      - run-unit-tests
      - code-quality-analysis
    - name: build-app-image
      taskRef:
        kind: Task
        name: build-jboss-app-image
      params:
      - name: app_name
        value: tasks
      - name: artifact_path
        value: org/jboss/quickstarts/eap/jboss-tasks-rs/7.0.0-SNAPSHOT/jboss-tasks-rs-7.0.0-SNAPSHOT.war
      resources:
        inputs:
        - name: source
          resource: app-git
      workspaces:
      - name: maven-repo
        workspace: local-maven-repo
      runAfter:
      - archive-app-to-nexus
    - name: oscap-image-scan
      taskRef:
        kind: Task
        name: oscap-image-scan
      params:
      - name: oscapProfilePath
        value: /usr/share/xml/scap/ssg/content/ssg-rhel7-ds-1.2.xml
      - name: xccdfProfile
        value: xccdf_org.ssgproject.content_profile_rhelh-stig
      workspaces:
      - name: oscap-report
        workspace: oscap-report
      runAfter:
      - build-app-image
    - name: deploy-imagestream-to-dev
      taskRef:
        kind: Task
        name: deploy-app-from-imagestream
      runAfter:
      - oscap-image-scan
    workspaces:
    - name: local-maven-repo
    - name: oscap-report

- apiVersion: tekton.dev/v1alpha1
  kind: Pipeline
  metadata:
    name: deploy-app-to-stage
    namespace: {{ username }}-cicd
  spec:
    params:
    - name: app_revision
      default: ''
      description: App version to deploy
      type: string
    tasks:
    - name: deploy-app-to-stage
      taskRef:
        kind: Task
        name: deploy-app-from-imagestream
      params:
      - name: dst_project
        value: {{ username }}-stage
      - name: app_revision
        value: $(params.app_revision)
{% endfor %}
